*{
    margin: 0;
    padding: 0;
}

body{
    width: 95%;
    max-width: 720px;
    min-width: 320px;
    height: auto;
    margin: 6px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 12px;
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

div{
    border: 1px dotted gray;
    border-radius: 12px;
    padding: 3px;
    min-height: 60px;
    height: auto;
    margin: 1px;
}

.potential, .loads, .balance{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    margin: 6px;
}
.coordenates, .radiation{
    width: 250px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.coordenates input{
    width: 150px;
    text-align: center;
}
.day, .night{
    width: 250px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
}
.system, .summary{
    width: 250px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.system input{
    width: 150px;
    text-align: center;
}
input{
    width: 45px;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;
    height: 21px;
    border: 1px solid gray;
    background: gray;
    color: white;
}
table{
    margin: 12px auto;
}
span{
    border: 1px solid gray;
    border-radius: 6px;
    padding: 0 12px;
    display: inline;
    background: ynoneellow;
}
select{
    text-align: center;
    width: 120px;
    height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}